In [2]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [4]:
emp=pd.Series(['Uma','Siva','Sindhu','Ravi'])
id=pd.Series([10,20,30,40])
Frame={'Emp':emp,'ID':id}
result=pd.DataFrame(Frame)
print("\n Series to DataFrame\n")
print(result)

 Series to DataFrame

      Emp  ID
0     Uma  10
1    Siva  20
2  Sindhu  30
3    Ravi  40

In [5]:
print("\n ExtractingOneColumn\n")
print(result['Emp'])

 ExtractingOneColumn

0       Uma
1      Siva
2    Sindhu
3      Ravi
Name: Emp, dtype: object

In [6]:
#adding a new column
result['Age']=pd.Series([20,25,30,50])
print(result)

      Emp  ID  Age
0     Uma  10   20
1    Siva  20   25
2  Sindhu  30   30
3    Ravi  40   50

In [10]:
#delete an existing column
del result['Age']
print(result)

      Emp  ID
0     Uma  10
1    Siva  20
2  Sindhu  30
3    Ravi  40

In [15]:
#extracting the second row
print("\n Extracting the Second Row \n")
print(result.loc[1])

 Extracting the Second Row

Emp    Siva
ID       20
Name: 1, dtype: object

In [17]:
#slice rows
print("slice rows:\n",result[0:3])

slice rows:
       Emp  ID
0     Uma  10
1    Siva  20
2  Sindhu  30

In [22]:
d2=pd.DataFrame([['Anu',20],['Jinu',19]],columns=['Emp','ID'])
print("\nAdding new row values\n",pd.concat([result,d2]))

Adding new row values
       Emp  ID
0     Uma  10
1    Siva  20
2  Sindhu  30
3    Ravi  40
0     Anu  20
1    Jinu  19

In [23]:
#delete an existing row
print(result.drop(2))

    Emp  ID
0   Uma  10
1  Siva  20
3  Ravi  40